:root {
  --header-height: 5rem;
  --menu-width: 18rem;
  --margin: 1rem;
  --background-color: white;
  --text-color: black;

  --light-color: white;
  --dark-color: black;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: var(--background-color);
  color: var(--text-color);
}
